*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@media screen  and (max-width:1024px) {
    .container{
        padding: 20px;
        background-color: aqua;
      
    }
}
@media screen and (min-width:600px) and (max-width:1200px) {
    .item-1{
        background-color: lightgray;
    }
    
}
@media screen and (min-width:480px) {
    p{
        font-size: 20px;
    }
    
}
@media screen and (width <=600px) {
    .image>img{
        width: 100%;
    }
    
}
@media screen and (width >=700px) and (width <=1200px) {
    .text-color>a{
        color:red;
    }

    
}
.text-color>a{
    text-decoration: none;
  
    font-size: 20px;
}

@media screen and (width >=500px) and (width <=800px) {
    h2{
        font-size: 50px;
    }
    
}
@media screen and (width >=1024px) {
    .border{
        border: 2px solid black;
    }
}

@media screen and (width >=800px) and (width <=1200px) {
    h1{
        width: 250px;
        background-color: powderblue;
    }
}
.item-3{
    display: flex;
    background-color: fuchsia;
    padding: 10px;
    gap: 10px;
}
@media screen and (width >=600px) {
    .item-3{
         flex-direction: column;
    }
    
}
@media screen and (width >=768px) and (width <=1200px) {
    .grid-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
}